---
import "../styles/global.css";
import Footer from "@/components/Footer.astro";
import NewHeader from "@/components/NewHeader.astro";
// Supports weights 100-900
import "@fontsource-variable/geist";

import { supabase } from "../lib/supabase";
import KonamiEasterEgg from "@/components/KonamiEasterEgg";

let user = null;
let displayName = null;
let avatar = null;

const {
  data: { session },
} = await supabase.auth.getSession();
console.log("🔎 Sesión actual:", session); // Debug, revisa en consola del server

if (session?.user) {
  user = session.user;
  const { data: profileData } = await supabase
    .from("profiles")
    .select("nombre, avatar_url")
    .eq("id", user.id)
    .single();

  displayName = profileData?.nombre ?? "Usuario";
  avatar = profileData?.avatar_url ?? "/default-avatar.webp";
}
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>BeelPedia</title>
    <script is:inline>
      if (
        localStorage.getItem("hs_theme") === "dark" ||
        (!("hs_theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body class="bg-background-base dark:bg-slate-950">
      <div
        class=" m-auto dark:bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]"
      >
     
      <slot />
       </div>
      <!-- <Footer /> -->
      <KonamiEasterEgg client:load/>
  </body>
  <script is:inline src="/node_modules/preline/dist/preline.js"></script>

  <style is:global>
    :root {
      color-scheme: light dark;
    }

    body {
      font-family: "Geist Variable", sans-serif;
    }
  </style>
</html>
